# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Local environment files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
